mixin offer-card(className, type, amount, timeNum, timeType, deadline, payback)
    div.offer-card(class=className)
        div.offer-card__type=type
        div.offer-card__row(class="offer-card__row--1")
            span.offer-card__amount=amount
            span.offer-card__text &nbsp;на&nbsp;
            span.offer-card__time=timeNum
            span.offer-card__text=timeType
        div.offer-card__row(class="offer-card__row--2")
            div.offer-card__cell
                span.offer-card__cell-icon(class="icon-calendar")
                span.offer-card__cell-secondary-text Дата возврата:&nbsp; 
                span.offer-card__cell-primary-text=deadline
            div.offer-card__cell
                span.offer-card__cell-icon(class="icon-ruble")
                span.offer-card__cell-secondary-text К возврату:&nbsp;
                span.offer-card__cell-primary-text=payback
